@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);

html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#map-canvas { 
	height: 100%; 
	width: 80%; 
	position:absolute; 
	right:0; 
	top:0;
	z-index:2;
}

.column {
	height:100%; 
	width:20%;
	box-shadow: 0px 0px 5px #888888;
	z-index:1;
	background-color:#eee; 
	text-align:center;
	
}


.column_index {
	width:80%;
	box-shadow: 0px 0px 5px #888888;
	z-index:1;
	background-color:#eee; 
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	min-height:100%;
}

.banner {
	height:430px;
	background:url('../img/map_bg.png') repeat fixed;
}

button{
	cursor: pointer;

}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	background-color:#b2d0fe;
	min-width:180px;
}

.btn .yellowone{
	background-color:#FFE168;
}

.roadname{
	background-color:rgba(255,255,255,0.8);
	box-shadow: 0px 0px 20px #888888;
	z-index:99;
	position:absolute;
	top:50px;
	right:0px;
	min-width:350px;
	padding:0px 30px;
	text-align:center;
}

h1 {
	font-family:'Sue Ellen Francisco', cursive;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:40px;
}

#watchdisplay {
	font-family:'Sue Ellen Francisco', cursive;
	font-size:40px;
	letter-spacing: 3px;
}

.container {
	text-align: center;
}

.timer {
	padding: 10px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	
}

.cell {
	/*Should only display 1 digit. Hence height = line height of .numbers
	and width = width of .numbers*/
	width: 0.60em;
	height: 40px;
	font-size: 25px;
	overflow: hidden;
	position: relative;
	float: left;
}

.numbers {
	width: 0.6em;
	line-height: 40px;
	font-family: 'Sue Ellen Francisco', cursive;
	text-align: center;
	color: #333;
	
	position: absolute;
	top: 0;
	left: 0;
	
	/*Glow to the text*/
	text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/*Styles for the controls*/
#timer_controls {
	margin-top: -5px;
}
#timer_controls label {
	cursor: pointer;
	padding: 5px 10px;
	background: #efefef;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	border-radius: 0 0 3px 3px;
}
input[name="controls"] {display: none;}

/*Control code*/
#stop:checked~.timer .numbers {animation-play-state: paused;}
#start:checked~.timer .numbers {animation-play-state: running;}
#reset:checked~.timer .numbers {animation: none;}

.moveten {
	/*The digits move but dont look good. We will use steps now
	10 digits = 10 steps. You can now see the digits swapping instead of 
	moving pixel-by-pixel*/
	animation: moveten 1s steps(10, end) infinite;
	/*By default animation should be paused*/
	animation-play-state: paused;
}
.movesix {
	animation: movesix 1s steps(6, end) infinite;
	animation-play-state: paused;
}

/*Now we need to sync the animation speed with time speed*/
/*One second per digit. 10 digits. Hence 10s*/
.second {animation-duration: 10s;}
.tensecond {animation-duration: 60s;} /*60 times .second*/

.milisecond {animation-duration: 1s;} /*1/10th of .second*/
.tenmilisecond {animation-duration: 0.1s;}
.hundredmilisecond {animation-duration: 0.01s;}

.minute {animation-duration: 600s;} /*60 times .second*/
.tenminute {animation-duration: 3600s;} /*60 times .minute*/

.hour {animation-duration: 36000s;} /*60 times .minute*/
.tenhour {animation-duration: 360000s;} /*10 times .hour*/

/*The stopwatch looks good now. Lets add some styles*/

/*Lets animate the digit now - the main part of this tutorial*/
/*We are using prefixfree, so no need of vendor prefixes*/
/*The logic of the animation is to alter the 'top' value of the absolutely
positioned .numbers*/
/*Minutes and Seconds should be limited to only '60' and not '100'
Hence we need to create 2 animations. One with 10 steps and 10 digits and
the other one with 6 steps and 6 digits*/
@keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}




